; {{ ansible_managed }}

[icingaweb2]
type = "db"
db = "mysql"
host = "{{ icinga2_db_host }}"
dbname = "{{ icinga2_web2_db }}"
username = "{{ icinga2_web2_db_user }}"
password = "{{ icinga2_web2_db_pass }}"
charset = ""
use_ssl = "0"


[icinga_ido]
type = "db"
db = "mysql"
host = "{{ icinga2_db_host }}"
dbname = "{{ icinga2_db }}"
username = "{{ icinga2_db_user }}"
password = "{{ icinga2_db_pass }}"
charset = ""
use_ssl = "0"
